.note-container {
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	width: 70%;
	margin: 0 auto;
}

.note-container .note-title {
	height: 6rem;
	border: none;
	border-radius: 0.8rem 0.8rem 0 0;
	color: var(--bg-color);
	background-color: var(--note-bg-color);
	padding: 2rem;
	font-size: 2rem;
	font-weight: 800;
}

.note-container .note-content {
	border: none;
	resize: none;
	padding: 2rem;
	font-size: 1.6rem;
	font-weight: 600;
	color: var(--bg-color);
	background-color: var(--note-bg-color);
	border-radius: 0 0 0.8rem 0.8rem;
	height: fit-content;
	margin-top: -0.8rem;
}

.note-content:focus,
.note-title:focus {
	outline: none;
}

.note-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: -0.5rem;
	padding: 3rem 2rem;
	border-radius: 0 0 0.8rem 0.8rem;
	color: var(--bg-color);
	background-color: var(--note-bg-color);
	height: 3rem;
}

.note-footer > h6 {
	font-size: 1.6rem;
}

.note-footer-icons > i {
	cursor: pointer;
	font-size: 1.8rem;
	margin-left: 1rem;
	transition: 0.3s all ease;
}

.note-footer-icons > i:hover {
	font-size: 2rem;
}

.note-footer > .fa-plus {
	font-size: 2rem;
	padding: 0.5rem 0.7rem;
	border-radius: 50%;
	color: var(--note-bg-color);
	background-color: var(--bg-color);
	cursor: pointer;
}

.new-notes-container .new-note {
	height: 28rem;
	margin-top: 0.2rem;
	overflow-y: scroll;
}
