.note-wrapper {
	width: 80%;
	margin: 0 auto;
}

.note-input-container {
	width: 70%;
	margin: 0 auto;
	margin-bottom: 2rem;
}

.search-input {
	width: 100%;
	margin-bottom: 2rem;
	padding: 1rem;
	border-radius: 0.5rem;
	border: none;
	font-size: 1.6rem;
}

.note-container {
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	width: 100%;
	margin: 0 auto;
}

.note-container .note-title {
	height: 6rem;
	border: none;
	border-radius: 0.8rem 0.8rem 0 0;
	color: var(--bg-color);
	background-color: var(--note-bg-color);
	padding: 2rem;
	font-size: 2rem;
	font-weight: 800;
}

.note-container .note-content {
	border: none;
	resize: none;
	padding: 2rem;
	font-size: 1.6rem;
	font-weight: 600;
	color: var(--bg-color);
	background-color: var(--note-bg-color);
	border-radius: 0 0 0.8rem 0.8rem;
	height: fit-content;
	margin-top: -0.8rem;
}

.note-content:focus,
.note-title:focus {
	outline: none;
}

.note-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: -0.5rem;
	padding: 3rem 2rem;
	border-radius: 0 0 0.8rem 0.8rem;
	color: var(--bg-color);
	background-color: var(--note-bg-color);
	height: 3rem;
}

.note-footer > h6 {
	font-size: 1.6rem;
}

.note-footer .note-footer-icons {
	display: flex;
}

.note-footer-icons > i {
	cursor: pointer;
	font-size: 1.8rem;
	margin-left: 1rem;
	transition: 0.3s all ease;
}

.note-footer-icons > i:hover {
	font-size: 2rem;
}

.note-footer .note-footer-icons .tag {
	width: 10rem;
	height: 2.5rem;
	font-size: 1.3rem;
	font-weight: 800;
	border-radius: 10rem;
	margin-left: 3rem;
}

.tag-bg {
	width: fit-content;
	background-color: var(--light-white-color);
	padding: 0.4rem 1.2rem;
	border-radius: 1rem;
}

.note-footer > .fa-plus {
	font-size: 2.5rem;
	padding: 0.5rem 0.7rem;
	border-radius: 50%;
	color: var(--note-bg-color);
	background-color: var(--bg-color);
	cursor: pointer;
}

.new-notes-container .new-note {
	height: 15rem;
	margin-top: 0.2rem;
	overflow-y: auto;
}

/* width */
.note-content::-webkit-scrollbar {
	width: 12px;
}

/* Handle */
.note-content::-webkit-scrollbar-thumb {
	background: var(--bg-color);
	border-radius: 10px;
}

/* Quill css */
.quill .ql-editor {
	min-height: 5rem;
}
.quill .ql-toolbar.ql-snow {
	border: none;
}
.quill .ql-container.ql-snow {
	border: none;
}

.quill-note-title {
	border-radius: 0.8rem 0.8rem 0 0;
}

.quill-note-content {
	min-height: 15rem;
	padding: 1rem 0 0 0;
}

@media screen and (max-width: 1024px) {
	.note-container {
		grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	}
}
@media screen and (max-width: 768px) {
	.note-wrapper {
		width: 100%;
	}
	.note-input-container {
		width: 100%;
	}
	.note-container {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		width: 100%;
	}
}
