.your-notes-container {
	width: 100%;
}

.tag-btn-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 2rem;
}

.tag-btn-container .filter-tag-container .filter-btn-container > button {
	margin: 0 1rem;
}

.btn-tag {
	color: var(--bg-color);
	background-color: var(--cta-color);
	min-width: fit-content;
	padding: 0.5rem 1.5rem;
}

.filter-tag-container {
	display: flex;
	align-items: center;
}

.filter-by-tag {
	color: var(--light-white-color);
	margin-right: 2rem;
}

.filter-tag-container .filter-btn-container > label {
	font-size: 1.8rem;
	color: var(--cta-color);
	margin-left: 1.5rem;
	cursor: pointer;
}

.no-notes {
	color: var(--light-white-color);
	text-align: center;
}

@media screen and (max-width: 768px) {
	.tag-btn-container {
		align-items: flex-start;
	}
}

@media screen and (max-width: 475px) {
	.btn-tag {
		padding: 0.5rem;
	}

	.tag-btn-container {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}

	.filter-tag-container {
		flex-direction: column;
		align-items: flex-start;
	}

	.filter-tag-container .filter-btn-container {
		display: flex;
		flex-direction: column;
	}

	.tag-btn-container .filter-tag-container .filter-btn-container > button {
		margin: 0.8rem 0;
	}

	.filter-tag-container .filter-btn-container > label {
		margin: 0;
	}
}
