@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

:root {
	--cta-color: #fec731;
	--bg-color: #15141b;
	--light-white-color: #e8e6e3;
	--note-bg-color: #8ae0d6;
}

body {
	background-color: var(--bg-color);
}

.App {
	max-width: 90vw;
	height: 100vh;
	margin: 0 auto;
	font-family: "Montserrat", sans-serif;
}

.Toastify__toast--success {
	font-size: 1.8rem;
}

.Toastify__toast--error {
	font-size: 1.8rem;
}

@media screen and (max-width: 475px) {
	.Toastify__toast--success,
	.Toastify__toast--error {
		max-width: 300px;
		margin: 0 auto;
	}
}
